
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h1>Adicionar Vestido</h1>

      <%= simple_form_for @dress do |f| %>
        <%= f.input :name, label: 'Nome' %>
        <%= f.input :size, label: 'Tamanho' %>
        <%= f.association :color %>
        <%= f.input :rental_price, label: 'Preço de aluguel', as: :currency, currency: "R$", :input_html => { :value => 0} %>
        <%= f.input :sale_price, label: 'Preço de Venda', as: :currency, currency: "R$", :input_html => { :value => 0} %>
        <%= f.input :obs, label: 'Observação' %>
        <%= f.input :photo, label: 'Foto' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
      <% end %>

    </div>

  </div>
</div>


